body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: aquamarine;
  }
  
  h1 {
    font-size: 50px;
    text-align: center;
    line-height: 200px;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .input[type="time"] {
    padding: 10px;
    margin-right: 10px;
  }

  button {
    padding: 10px 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  